h1{
    size: 50px;
}
h2{
    text-align: right;
}

.container{
    display: flex;
}

.indented{
    text-indent: 50px;
}

.box-1{
    height: auto;
    width: 50%;
}
.box-2{
    height: auto;
    width: 50%;
}



