/* ~~~ the section we will change for our class notes to apply flexbox / grid starts here! ~~~ */

/* ~~ this is where we apply flexbox styling ~~ */

#my_flexbox{
    display:flex;
    flex-direction: row;
    /* Justify-content: center, flex-start, flex-end, space-aroun, space-between */
    justify-content: space-between;
    /* Align-items: center, flex-start, flex-end, stretch, baseline */
    align-items: center;
    flex-wrap: wrap;
}

.info_card{
    width:20vw;
}

#info_1{
    flex-grow: .4;
    order:1;
} 



/* ~~ this is where we apply grid styling ~~ */

#my_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    /* Justify-content: space-evenly, space-around, space-between, center, start, end */
    /* Align-content: space-evenly, space-around, space-between, center, start, end */
    justify-content: end;
}

.unicorns{
    width: 20vw;
}